.ant-menu-item {
  height: 50px !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  border-left: 4px solid #fff;
}

.ant-menu-light .ant-menu-item-selected {
  background-color: #fff;
  border-left: 4px solid #000;
  border-radius: 0px;
  color: #000;
}

.ant-menu-light .ant-menu-item:hover {
  background-color: #fff; /* Change the background color of the menu item on hover */
}

.ant-menu-light a {
  /* Change the text color of the selected menu item */
  font-family: "geist-regular";
}

.ant-menu-light .ant-menu-item-selected a {
  color: #000; /* Change the text color of the selected menu item */
}

.ant-menu-light .ant-menu-item:hover a {
  color: #000; /* Change the text color of the menu item on hover */
}
.ant-menu-inline-collapsed li {
  padding-left: 15px !important;
}
.geist-font {
  font-family: "geist-regular";
}
.geist-light-font {
  font-family: "geist-light";
}
.onest-font {
  font-family: "Onest";
}
.stats .ant-card-head {
  border-bottom: 0px !important;
}
.stats .ant-card-body {
  padding: 0px !important;
}
.text-xxs {
  font-size: 10px;
}
.stat-content {
  cursor: pointer;
}
.recent-items .ant-tabs-ink-bar {
  background-color: #000;
}
.recent-items .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #000 !important;
}
.recent-items .ant-tabs-tab:hover {
  color: #000000bc !important;
}
/* .surveystats .ant-card-body {
  height: 160px;
} */
.client-tag {
  background: #e7f6ec;
  color: #036b26;
  font-family: "Inter";
  font-size: 10px;
  width: fit-content;
  min-width: 64px;
  text-align: center;
}
.client-card .name-avatar {
  background: #d3d3d4;
  font-size: 24px;
}
button[type="submit"] {
  background-color: #0380f7 !important;
}
.lfg button[type="submit"] {
  background-color: #000 !important;
}

.outlined:focus,
textarea:focus,
select:focus,
.outlined:hover, select:hover  {
  outline: none;
  border: 2px solid #0380f7 !important;
  border-color: #0380f7 !important;
  transition: all 0.5s;
}
.message-input {
  height: 11rem !important;
}

.express-iv label .ant-radio {
  margin-top: -35px;
}
.payment-plans label .ant-radio {
  margin-top: -20px;
}
.qsa .ant-modal-content {
  background: #f4f4f4;
}